.cabecera-votacion h2, .cabecera-votacion a{
	display: inline-block;
}
.wrap{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #f4f3f3;
}
.proyecto-info{
	width: 380px;
	border: 1px solid gray;
	margin-left: 8px;
	&:first-child{
		margin-left: 0;
	}
}