/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background-color: #E3E1E1; }

.container {
  background-color: #f4f3f3; }

.btn-default {
  background-color: #722d7d;
  color: #ddd6d6;
  border-color: #722d7d; }
  .btn-default:hover {
    background-color: #722d7d;
    color: #ddd6d6;
    border-color: #722d7d;
    opacity: 0.7; }
  .btn-default:focus {
    background-color: #722d7d;
    color: #ddd6d6;
    border-color: #722d7d; }

header {
  background: linear-gradient(to right, #a22068, #2e368f); }
  header #menuContainer {
    max-width: 60em;
    /*max-height: 110px;*/
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 2.2%; }
    header #menuContainer a {
      color: #ddd6d6; }
  header #menuCollapse ul {
    padding-top: 28px; }
  header .menuSesion {
    padding-left: 25px; }
  header .menuList li {
    padding-left: 25px; }
  header .navbar-right img, header .navbar-right a, header #imgLogo {
    float: left; }
  header .imgLogoSmall {
    width: 70px;
    padding: 6px; }
  header .signIcon {
    padding-top: 16px; }
  header #btnMenu:hover {
    background-color: #10167B; }

footer {
  background: linear-gradient(to right, #a22068, #2e368f); }
  footer .cf:after, footer .cf:before {
    content: ' ';
    display: table; }
  footer .cf:after {
    clear: both; }
  footer .contFooter {
    max-width: 60em;
    margin: 0 auto;
    font-size: 13px;
    height: 95px;
    padding-top: 20px; }
    footer .contFooter li {
      display: inline-block;
      float: left; }
      footer .contFooter li:nth-child(2) {
        padding-left: 25px; }
    footer .contFooter .txt {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
    footer .contFooter .sprite {
      background: url("../img/sprite.png") 0 0 no-repeat;
      width: 50px;
      height: 50px; }
    footer .contFooter .fb {
      background-position: -0px -0px; }
    footer .contFooter .twitter {
      background-position: -0px -50px; }
    footer .contFooter .contInfoFooter {
      margin: 0 auto;
      /*max-width: 14.25em;*/
      text-align: center;
      line-height: 1.5;
      color: #ddd6d6;
      font-size: 0.813em; }
    footer .contFooter .logoCenfotec {
      float: right; }

.cabecera-votacion h2, .cabecera-votacion a {
  display: inline-block;
  color: orange; }

.wrap {
  max-width: 960px;
  margin: 0 auto;
  background-color: orange; }

h1, legend {
  color: #757475;
  font-weight: 500; }

.mainConfig {
  background-color: #e3e1e1;
  width: 100%;
  height: 800px; }
  .mainConfig .wrapperConfig {
    background-color: #f5f3f4;
    max-width: 60em;
    margin: 0 auto; }
    .mainConfig .wrapperConfig ul {
      padding-top: 20px; }
      .mainConfig .wrapperConfig ul li a {
        color: #757475;
        font-weight: bold; }
    .mainConfig .wrapperConfig .formUser {
      padding-top: 30px; }
      .mainConfig .wrapperConfig .formUser legend {
        padding-left: 18px;
        font-size: 1.625em; }
      .mainConfig .wrapperConfig .formUser .msgError {
        font-size: 13px;
        color: #f44336; }
      .mainConfig .wrapperConfig .formUser #msgSuccess {
        width: 272px;
        margin-left: 18px;
        margin-top: 12px;
        display: none; }
      .mainConfig .wrapperConfig .formUser .btnAddUser {
        background-color: #722d7d;
        float: right;
        color: #ddd6d6;
        margin-right: 75px;
        margin-bottom: 40px; }
      .mainConfig .wrapperConfig .formUser .lblEdit a {
        color: #786c84;
        font-weight: bold; }
    .mainConfig .wrapperConfig .btnDatePicker {
      border: none;
      background-color: #f5f3f4;
      padding-top: 28px; }

/*MODAL EDITAR CURSO*/
.modal-header h1 {
  text-align: center; }

md-checkbox.md-default-theme.md-checked .md-icon {
  background-color: rgba(104, 57, 119, 0.87); }

.col-centered {
  float: none;
  margin: 0 auto;
  background-color: #e3e1e1;
  overflow: auto; }

.logo {
  width: 100%;
  height: auto;
  margin-top: 0.6em;
  text-align: center; }

.title-page {
  font-size: 1.875em;
  font-weight: bold;
  color: #757475;
  display: inline-block; }

.search {
  margin-top: 1em; }
  .search .form-group {
    padding-left: 8em; }
    .search .form-group input {
      width: 50%;
      float: left; }
  .search input::-webkit-input-placeholder {
    color: #c7b9cf; }

#searchGlyph {
  top: 5px;
  left: -2em; }

.documentos-disponibles {
  margin-top: 1em; }

.documentos {
  border: 1px solid #e3e1e1;
  padding: 1em;
  margin-bottom: 1em;
  font-family: "helvetica";
  font-size: 14px; }
  .documentos .titulo {
    font-size: 20px;
    color: #722d7d;
    font-weight: normal;
    display: inline-block; }
  .documentos .date-and-group {
    display: inline-block; }
  .documentos .ordenar-links {
    text-align: right; }
    .documentos .ordenar-links a {
      color: #5F3870; }
  .documentos p {
    margin: 0.5em 0 0.3em 0; }

.mejores-proyectos .logo {
  background-color: #722d7d;
  padding: 0.5em;
  margin: 0; }
  .mejores-proyectos .logo h1 {
    font-size: 20px;
    color: #ffffff;
    margin-left: 0.5em; }
.mejores-proyectos .information {
  border: 1px solid #e3e1e1;
  margin-top: 1em;
  padding: 1em; }

.modal-body input {
  margin-bottom: 1em; }

.link {
  text-align: right; }

.information h1 {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0.7em; }

/*Estilos Guillermo*/
#ContenedorRubricas {
  max-width: 60em;
  height: 50em; }

.izquierdaCaja {
  width: 40%;
  margin-left: 1%;
  margin-right: 1%; }

.derechaCaja {
  width: 55%;
  position: relative; }
  .derechaCaja h3 {
    margin-left: 10%; }
  .derechaCaja .estiloCaja {
    padding-left: 10%; }

.rayaCentral {
  height: 30em;
  width: 1%;
  background-color: gray;
  position: absolute; }

.rayaCentralMorada {
  height: 35em;
  width: 10%;
  margin-left: 10%;
  background-color: #722d7b;
  position: absolute; }

.simpleColor {
  background-color: #722d7b !important;
  color: #fff !important; }

.modal-body div {
  margin-left: 20%;
  margin-top: 1%; }

.contenedorDeCajas {
  height: 30em;
  overflow-y: scroll; }

.group {
  position: relative;
  margin-bottom: 45px; }

input.botonMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575; }

input.botonMaterial:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input.botonMaterial:focus ~ label, input.botonMaterial:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input.botonMaterial:focus ~ .bar:before, input.botonMaterial:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input.botonMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

/*# sourceMappingURL=screen.css.map */
