/*Estilos Guillermo*/
/* line 3, ../sass/rubricaEstilo.scss */
#ContenedorRubricas {
  max-width: 60em;
  height: 50em;
}

/* line 8, ../sass/rubricaEstilo.scss */
.izquierdaCaja {
  width: 40%;
  margin-left: 1%;
  margin-right: 1%;
}

/* line 14, ../sass/rubricaEstilo.scss */
.derechaCaja {
  width: 55%;
  position: relative;
}
/* line 17, ../sass/rubricaEstilo.scss */
.derechaCaja h3 {
  margin-left: 10%;
}
/* line 20, ../sass/rubricaEstilo.scss */
.derechaCaja .estiloCaja {
  padding-left: 10%;
}

/* line 25, ../sass/rubricaEstilo.scss */
.rayaCentral {
  height: 30em;
  width: 1%;
  background-color: gray;
  position: absolute;
}

/* line 32, ../sass/rubricaEstilo.scss */
.rayaCentralMorada {
  height: 35em;
  width: 10%;
  margin-left: 10%;
  background-color: #722d7b;
  position: absolute;
}

/* line 40, ../sass/rubricaEstilo.scss */
.simpleColor {
  background-color: #722d7b !important;
  color: #fff !important;
}

/* line 45, ../sass/rubricaEstilo.scss */
.modal-body div {
  margin-left: 20%;
  margin-top: 1%;
}

/* line 50, ../sass/rubricaEstilo.scss */
.contenedorDeCajas {
  height: 30em;
  overflow-y: scroll;
}

/* line 55, ../sass/rubricaEstilo.scss */
.group {
  position: relative;
  margin-bottom: 45px;
}

/* line 59, ../sass/rubricaEstilo.scss */
input.botonMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

/* line 67, ../sass/rubricaEstilo.scss */
input.botonMaterial:focus {
  outline: none;
}

/* LABEL ======================================= */
/* line 70, ../sass/rubricaEstilo.scss */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
/* line 84, ../sass/rubricaEstilo.scss */
input.botonMaterial:focus ~ label, input.botonMaterial:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

/* BOTTOM BARS ================================= */
/* line 91, ../sass/rubricaEstilo.scss */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

/* line 92, ../sass/rubricaEstilo.scss */
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* line 103, ../sass/rubricaEstilo.scss */
.bar:before {
  left: 50%;
}

/* line 106, ../sass/rubricaEstilo.scss */
.bar:after {
  right: 50%;
}

/* active state */
/* line 111, ../sass/rubricaEstilo.scss */
input.botonMaterial:focus ~ .bar:before, input.botonMaterial:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
/* line 116, ../sass/rubricaEstilo.scss */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
/* line 127, ../sass/rubricaEstilo.scss */
input.botonMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
