<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../stylesheets/screen.css">
<!-- 		<link rel="stylesheet" href="../sass/_documentos.scss"> -->
	</head>
	<body>
		<div class="container">
			<div class="row row-centered">
				<div class="col-md-6 col-centered">
					<div class="logo">
						<img src="../img/documentos1.png" alt="">
						<h1 class="title-page">
							Documentos
						</h1>
					</div>
					<form class="search" role="search">
          				<div class="form-group">
            				<input type="text" class="form-control" placeholder="Buscar por tema o por titulo" ng-model="query">
            				<span type="button" id="searchGlyph" class="glyphicon glyphicon-search visible">
          					</span>
          					<button type="button" class="btn btn-default boton btn-margin" ng-show="visible" data-toggle="modal" data-target="#myModal" ng-click="abrirCrearDocumento()">Agregar</button>
          				</div>
					</form>
				</div>
			</div>
			alksoaksokaksas
		</div>
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src ="../js/angular.min.js"></script>
		<script type="text/javascript" src ="../js/bootstrap.min.js"></script>

	</body>
</html>